body {
    margin: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #181922;
    color: #dddebc;
}

p {
    margin: 8px;
}

p.big {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #7784f3;
}

div.container {
    width: 100%;
    height: 100%;
    display: flex;
}

div.main {
    margin: auto;
    padding-bottom: 24px;
}